<h1>Create Issue</h1>

<form action="/issues" methods= "POST">
    <label>Description</label>
    <input type= "text" name="description"/>
    <label>Date</label>
    <input type= "Number" name= "createdAt"/>
    <label>Status</label>
    <input type= "text" name= "status"/>
    <label>Priority</label>
    <input type= "text" name= "priority"/>

    <input type= "submit" value="create"/>
</form>